FRONTEND_BRANCH=main
BACKEND_BRANCH=main
COMPOSE_PROJECT_NAME=facturacion_local
DOCKER_BIND_HOST=127.0.0.1
BACKEND_PORT=8000
FRONTEND_PORT=5173
ADMIN_PORT=5174
VITE_API_BASE_URL=http://127.0.0.1:8000
POSTGRES_DB=facturacion_v2
POSTGRES_USER=facturacion
POSTGRES_PASSWORD=facturacion
BOOTSTRAP_SQL_PATH=..\facturacion_backend\facturacion_v2_export_utf8_clean_20260418_105235.sql
RUN_MIGRATIONS=true
RUN_SEED_ON_INSTALL=false