VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_HOST=127.0.0.1
VITE_PORT=5173
VITE_ADMIN_HOST=127.0.0.1
VITE_ADMIN_PORT=5174
VITE_REQUEST_TIMEOUT_MS=20000
VITE_AUTH_REQUEST_TIMEOUT_MS=12000
VITE_EXPORT_REQUEST_TIMEOUT_MS=45000
VITE_SLOW_LOOKUP_TIMEOUT_MS=30000
VITE_BULK_IMPORT_TIMEOUT_MS=120000
VITE_SALES_ISSUE_TIMEOUT_MS=90000
VITE_SUNAT_ASYNC_TIMEOUT_MS=90000
